@using FiiPrezent.Models
@model EventViewModel

@{
    ViewBag.Title = "Event";
    Layout = "_Layout";
}

@section Scripts
    {
    <script>
        var eventId = window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1);
        var participantsList = document.getElementById("participants");
        var connection = new signalR.HubConnection("/participants?eventId=" + eventId);

        function appendParticipant(name) {
            var li = document.createElement("li");
            li.innerText = name;
            participantsList.appendChild(li);
        }

        connection.on('Update', (list) => {
            participantsList.innerHTML = "";
            list.forEach(function (el) {
                appendParticipant(el);
            });
        });

        connection.start();
    </script>
}

<section class="hero is-medium has-bg-img">
    <img src="~/img/bg.jpg" class="is-bg-img" />
    <div class="hero-filter"></div>
    <div class="hero-head">
        @Html.Partial("../Shared/_NavigationPartial.cshtml")
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">
                Event details
            </h1>
            <h2 class="subtitle">
                You're lucky to be here.
            </h2>
        </div>
    </div>
</section>

<div class="container card-box">
    <div class="card-box__title">
        @Model.Name
    </div>
    <div class="card-box__subtitle">
        <h2>@Model.Description</h2>
    </div>
    <div class="has-text-centered">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Participants)
                {
                    <tr>
                        <td><img src="@p.ImagePath" /></td>
                        <td>@p.Name</td>
                        <td>@p.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>