@model IEnumerable<FiiPrezent.Entities.Event>

@{
    ViewData["Title"] = "Browse";
}

<div class="hero-image-container">
    <div class="hero-image"></div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="search-container">
            <div class="title">
                <h2>Browse Events</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                <div class="event">
                                    <img src="~/img/pexels-photo.jpg" class="img-fluid" />
                                    <div class="event-content">
                                        <div class="name">@item.Name</div>
                                        <div class="description">@item.Description</div>
                                        <div class="date">@item.Date.ToString()</div>
                                        <div class="location">@item.Location</div>
                                    </div>
                                    <div class="actions">
                                        <div class="action-item">
                                            <a asp-action="Details" asp-controller="Events" asp-route-id="@item.Id" class="btn btn-action"><i class="fa fa-eye"></i></a>
                                        </div>
                                        <div class="action-item">
                                            <form asp-action="Delete" asp-controller="Events" asp-route-id="@item.Id">
                                                <button type="submit" class="btn btn-action"><i class="fa fa-times"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>